<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<!-- BASICS -->
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Tutemark: Marking every Tutorial of the web</title>
        <meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="icon" href="icon.png" />
		<link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />	
		<link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/bootstrap-theme.css" />
        <link rel="stylesheet" href="css/style.css" />
		<!-- skin -->
		<link rel="stylesheet" href="skin/default.css" />

		<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css' />

		<script type="text/javascript" src="feedback_me/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="feedback_me/feedback_me.js"></script>
		
		<link rel="stylesheet" type="text/css" href="feedback_me/feedback_me.css" />

		<script type="text/javascript">
		$(document).ready(function () {
			    //set up some minimal options for the feedback_me plugin
			    fm_options = {
					show_form : false,
					position : "left-bottom",
			        iframe_url : "http://feedback-me.appspot.com/external_content.html"
			    };
	
			    //init feedback_me plugin
			    fm.init(fm_options);
	
			    SyntaxHighlighter.all();
			});

		</script>


    </head>
	 
    <body>
    </body>
<html>